<% if object.errors.any? %>

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading"><%= t('.alert_part_1') %> <%= object.class.name.downcase %> <%= t('.alert_part_2') %> </h4>
    <ul>

    <% object.errors.full_messages.each do |message| %>

      <li style="color:red;"><%= message %></li>

    <% end %>

    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% end %>
