<div id="page-content">
  <h1 class="text-center mt-4">Rails 6 Test Application</h1>
  <p>This is a test application created in Rails 6.  It simulates a blog.</p>
</div>

<%= render 'layouts/footer' %>
