<div id="page-content">
  <div class="container" id="home_container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Rails Blog</h1>
      <p class="lead">This is sample Rails 6 application.  It makes use of Bootstrap to help with the design and style of the website.</p>
      <a class="btn btn-primary btn-lg button_style" href="#" role="button">Sign Up</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy <%= Time.now.strftime("%Y") %> <%= link_to "Rails Blog", root_path, class: "text-white"%></small>
  </div>
</footer>
