<div class="container" id="home_container">

  <%= render 'layouts/messages' %>

  <div class="jumbotron text-center text-white">
    <h1 class="display-4"> <%= t('.banner_title') %> </h1>
    <p class="lead"> <%= t('.banner_description') %> </p>

    <%= link_to t('.sign_up_button'), signup_path, class: "button_style" %>

  </div>
</div>
